<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="SMTPuser" value="tays.noreply@gmail.com"/>
		<add key="SMTPpassword" value="lxnpjttzkvyfnger"/>
		<add key="EmailPort" value="587"/>
		<add key="Host" value="smtp.gmail.com"/>
		<add key="EnableSSL" value="true"/>
	</appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
	  <webServices>
		  <protocols>
			  <add name="HttpGet"/>
			  <add name="HttpPost"/>
		  </protocols>
	  </webServices>
  </system.web>
</configuration>